.extensionBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    padding-bottom: 10px;
    width: 100%;
    color: whitesmoke;
}

.header > h1{
    width: 100%;
    text-align: center;
}

.main{
    padding: 10px;
    width: 100%;
}

.extDescription{
    width: 100%;
    text-align: center;
    padding: 0px 0px 20px 0px;
    color: white;
}

.extButton{
    width: 80%;
    margin: 5px 0px 5px 0px;
    padding: 8px;
    color: white;
    border: none;
    background-color: blueviolet;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    cursor: pointer;
}

.cancelBtn{
    background-color: rgb(227, 55, 55);
}

.extButtonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alertDiv{
    width: 100%;
    height: 20px;
    padding: 5px 0px 10px 0px;
}

.alertMessage{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: smaller;
    color: rgb(224, 80, 80);
}

.footer{
    padding: 10px 0px 5px 0px;
    width: 100%;
    color: white;
    text-align: center;
}